.laps-panel {
    background: rgba(255,255,255,0.9);
    box-shadow: 10px 5px 15px rgba(0, 0, 0, .5);
    margin: 20px 0;
    padding: 10px;
    width: 360px;
}

.laps-column-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    width: 100px;
    border-bottom: dashed 1px black;
}

.lap-pilot {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 100px;
    text-align: center;
    overflow: hidden;
}

.lap-number {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 100px;
    text-align: center;
}

.lap-time {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 100px;
    text-align: center;
}

.lap-split {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    opacity: 0.8;
    font-size: 18px;
    width: 100px;
    text-align: center;
}

.start-race-button {
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    width: 300px;
    padding: 10px;

    margin: 10px auto;
    /*background-color: lightgreen;*/
    background-image: linear-gradient(45deg, #b8ffc4 25%, #e5ff7f 25%, #e5ff7f 50%, #b8ffc4 50%, #b8ffc4 75%, #e5ff7f 75%, #e5ff7f 100%);
    background-size: 56.57px 56.57px;
}

.stop-race-button {
    background-image: linear-gradient(45deg, #ffe6b8 25%, #d6d6d6 25%, #d6d6d6 50%, #ffe6b8 50%, #ffe6b8 75%, #d6d6d6 75%, #d6d6d6 100%);
}

.race-time {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}