.settings-panel {
    background: rgba(255,255,255,0.9);
    box-shadow: 10px 5px 15px rgba(0, 0, 0, .5);
    padding: 10px;
    width: 360px;
}

.settings-panel-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 40px;
}

.setting-panel {
    margin: 10px;
}

.setting-name {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    display: inline-block;
    width: 200px;
}

.setting-units {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    display: inline-block;
}
