.laps-panel {
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,0.9);
    box-shadow: 10px 5px 15px rgba(0, 0, 0, .5);
    margin: 20px 0;
    padding: 10px;
    width: 360px;
}

.laps-table td {
    padding: 0;
}

.laps-table th {
    padding-left: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: dashed 1px black;
}

.laps-table {
    width: 355px;
    border-collapse: collapse;
    border-spacing: 0;
}

.laps-column-pilot {
    min-width: 118px;
}

.laps-column-number {
    min-width: 48px;
}

.laps-column-time {
    min-width: 88px;
}

.laps-column-split {
    min-width: 88px;
}

.lap-pilot {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    overflow: hidden;
}

.lap-number {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.lap-time {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.lap-split {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    opacity: 0.8;
    font-size: 18px;
    text-align: center;
}

.start-race-button {
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    width: 300px;
    padding: 10px;

    margin: 10px auto;
    /*background-color: lightgreen;*/
    background-image: linear-gradient(45deg, #b8ffc4 25%, #e5ff7f 25%, #e5ff7f 50%, #b8ffc4 50%, #b8ffc4 75%, #e5ff7f 75%, #e5ff7f 100%);
    background-size: 56.57px 56.57px;
}

.stop-race-button {
    background-image: linear-gradient(45deg, #ffe6b8 25%, #d6d6d6 25%, #d6d6d6 50%, #ffe6b8 50%, #ffe6b8 75%, #d6d6d6 75%, #d6d6d6 100%);
}

.race-time {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.lap-times-scrollbox {
    overflow: auto;
}

.lap-times-scrollbox::-webkit-scrollbar {
    width: 2px;
}

.lap-times-scrollbox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.lap-times-scrollbox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}