body {
    background-image: linear-gradient(45deg, #B2A2CD 25%, #5F5370 25%, #5F5370 50%, #B2A2CD 50%, #B2A2CD 75%, #5F5370 75%, #5F5370 100%);
    background-size: 56.57px 56.57px;
}

.videos-panel {
    position: absolute;
    left: 420px;
    /*width: 1500px;*/
    max-width: 1500px;
    top: 0;
}

.videos-panel > div > iframe {
    border: none;
    box-shadow: 10px 5px 15px rgba(0, 0, 0, .5);
}

.pilot-video {
    margin: 10px;
    float: left;
}

.add-pilot-button {
    width: 720px;
    height: 576px;
    margin: 10px;
    background: rgba(255,255,255,0.2);
    float: left;
    box-shadow: 10px 5px 15px rgba(0, 0, 0, .5);
}

.plus {
    display: table-cell;
    width: 720px;
    height: 576px;
    font-size: 500px;
    text-align: center;
    vertical-align: middle;
    color: rgba(0,0,0,0.5);
}